/* General body styles */
body {
    background-color: #ffe6e6;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gif {
    width: 200px;
    height: auto;
}

#yesButton {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

#noButton {
    background-color: #dc3545;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}
